.tilt-container {
    display: flex;
    background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
}

.logo {
    padding: 5px;
}

.logo > img {
    height: 80px;
    width: auto;
    transition: height 0.3s ease ;
}

    .logo > img:hover {
        height: 100px;
        width: auto;
    }

